/* header */

.cabecalhoPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

/* main */

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    margin-bottom: 1%;
    width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(n4) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(n4+1) {
    margin-left: 0;
}

/* mobile */

@media screen and (max-width: 768px) {

    /* header */
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        align-items: initial;
        flex-direction: column;
        text-align: center;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }

    /* main */
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        width: 95%;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-video {
        margin: 0 auto;
    }


    /* footer */
    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        align-items: center;
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list {
        margin-right: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

}